body{
	background-color: #000000;
}

#regles{
	width: 989px;
	margin: 100px auto;
	font: small-caps bold 16px sans-serif;
}

.carte{
	width: 300px;
	background: #BB3125;
	display: inline-table;
	top: 0;
}
.carte:not(:last-child){
	margin-right: 40px;
}
.header{
	color: rgb(255, 255, 255);
}
.un .header{
	background: #000000;
}
.deux .header{
	background: #000000;
}
.trois .header{
	background: #000000;
}
.tour{
	width: 100%;
	font-size: 60px;
	font-weight: 300;
	display: block;
	text-align: center;
	padding: 30px 0 10px;
}
.name{
	width: 100%;
	font-size: 15px;
	font-weight: 700;
	display: block;
	text-align: center;
	padding: 0 0 30px;
}
.info{
	list-style: none;
	text-align: center;
	color: rgb(138, 138, 138);
	margin: 0;
	padding: 0;
}
.info li{
	margin: 0 35px;
	padding: 20px 15px;
	width: 200px;
}
.info li:not(:last-child){
	border: 1px solid rgb(242, 242, 242);
	border-top: 0;
	border-left: 0;
	border-right: 0;
}
